@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100&display=swap');

/* main conatiner */
.creation{
    margin: 5%;
}
/* conatiner's header section */
.creations__header {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* content title */
.creations__title {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.1rem;
}
/* Button */
.button1{
    display: none;
}
button, .button1 {
    margin-bottom: 1rem;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    letter-spacing: .125rem;
    border: solid 0.0625rem #000;
    padding: 1.4375rem 1.875rem;
    background-color: transparent;
    transition: all .4s ease-in-out;
    height: 100%;
    margin-top: 3rem;
}
button:hover, .button1:hover {
    color: #fff;
    background: black;
}
button:hover::before, .button1:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

button::before, .button1::before {
    content: "";
    top: 0rem;
    left: 0rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: #000;
    -webkit-transform: scale(1.2, 1.4);
    transform: scale(1.2, 1.4);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* flex items background images */

.earth{
    background-image: url('./desktop/deep-earth.jpg');
}
.night{
    background-image: url('./desktop/night-arcade.jpg');
}
.soccer{
    background-image: url('./desktop/soccer-team.jpg');
}
.gried{
    background-image: url('./desktop/gried.jpg');
}
.above{
    background-image: url('./desktop/from-above.jpg');
}
.pocket{
    background-image: url('./desktop/pocket-borealis.jpg');
}
.curiosity{
    background-image: url('./desktop/curiosity.jpg');
}
.fish{
    background-image: url('./desktop/fisheye.jpg');
}
/* Creation Container Items CSS*/


.creation-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
}
.creations__content__item {
    display: flex;
    width: 100%;
    height: 23rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    max-width: 22.875rem;
    border-radius: 0.25rem;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgb(0 0 0 / 60%);
    box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgb(0 0 0 / 60%);
}
.creations__content__item::before {
    z-index: 0;
    content: '';
    top: 0rem;
    left: 0rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: rgba(255,255,255,0.1);
}

/* Creation Conatainer items OnHover CSS  */
.creations__content__item:hover {
    transition: inherit;
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
}

/* Creation Container Items Title Texts */

.creation-content-title {
    z-index: 2;
    color: #fff;
    max-width: 45%;
    font-weight: 100;
    font-size: 1.7rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
    justify-self: flex-start;
    text-transform: uppercase;
    margin: 0 0 0.9375rem 0.9375rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/*  grid items media query for tablet (mode / view) */ 


@media (min-width:768px) and  (max-width:1024px) {
    /* main responsive CSS */
    .creation {
        margin: 30% 10%;
        padding-left: 10%;
    }
    /* conatainer header */
    .creations__header {
        margin-top: 13rem;
        display: block;
        text-align: center;
        justify-content: space-between;
    }
    /* Button  */
    button {
        display: none;
    }
    .button1{
        display: block;
    }  
    /*  Title */  
    .creations__title {
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.1rem;
        text-align: left;
    }
    /* COntent */ 

    .creation-content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        grid-gap: 0.875rem;
        align-items: center;
    }
    /* Flex Items in container */
    .creations__content__item {
        width: 100%;
        height: 7.5rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        max-width: 22.875rem;
        border-radius: 0.25rem;
        background-size: cover;
        background-position: center;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        -webkit-box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgb(0 0 0 / 60%);
        box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgb(0 0 0 / 60%);
    }

    /* content  */
    .creation-content  {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    } 

    /* for tab mode items styling design */
    .creations__content__item:nth-child(odd) {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .creations__content__item:not(:last-child) {
        margin-bottom: 1.25rem;
    }

}

/*  grid items media query for mobile (mode / view) */ 

@media (min-width:50px) and  (max-width:767px) {
/*  main container */
    .creation {
        margin: 0;
        padding-left: 5%;
    }
   /* contaier header  */ 
    .creations__header {
        margin-top: 13rem;
        display: block;
        text-align: center;
        justify-content: space-between;
    }
    /* Button */
    button {
        display: none;
    }
    .btn1{
        display: block;
        margin-top: 3rem;
    }
    
/*  contaner content */
    .creation-content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        grid-gap: 1.875rem;
        align-items: center;
    }
    .creation-content  {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    /* container item content */
    .creations__content__item {
        width: 100%;
        height: 7.5rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        max-width: 22.875rem;
        border-radius: 0.25rem;
        background-size: cover;
        background-position: center;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        -webkit-box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgb(0 0 0 / 60%);
        box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgb(0 0 0 / 60%);
    }
    
    
}