@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100&display=swap');

.section{
    position: relative;
}
.section_container {
    position: relative;
    background-color: #fff;
    padding: 6.75rem 6rem;
    max-width: 69.6875rem;
}

.section_image {
    width: 100%;
    height: 13.125rem;
    position: relative;
}
.section_image::after {
    content: "";
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./desktop/interactive.jpg');
}
@media (min-width: 64rem){
    .section_image {
        max-width: 45.625rem;
        min-height: 31.25rem;
    }
    }
@media (min-width: 48rem){
    .section_image {
        height: 17.5rem;
    }
    }
    .feature__content {
        right: 0rem;
        bottom: 6.125rem;
        padding: 2rem;
        max-width: 34.5rem;
        position: absolute;
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .feature__content__title {
    color: #000;
    margin: 0;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}   
    .feature__content__text {
        max-width: 20rem;
        padding: 0.5rem;
        color: #8c8c8c;
        font-size: 0.9rem;
        text-align: center; 
        font-weight: bolder;
        font-family: 'Josefin Sans', sans-serif;
        word-spacing: 0.25rem;
    }
    @media (min-width: 350px) and (max-width:1024px) {
        
        .section_container {
            position: relative;
            background-color: #fff;
            padding: 3.75rem 2rem;
            max-width: 69.6875rem;
        }
        .section_image {
            width: 100%;
            height: 13.125rem;
            position: relative;
        }
        .section_image::after {
            content: "";
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 150%;
            position: absolute;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

         .sec-img{
             width: 60%;
             display: none;
         }
        }
         @media (min-width: 1024rem){
            .section_image {
                min-height: 31.25rem;
            }
            }
        @media (min-width: 350px){
            .section_image {
                height: 17.5rem;
            }
        }
            .feature__content {
                width: 100%;
                right: 5rem;
                bottom: 3rem;
                padding: 2rem;
                max-width: 34.5rem;
                position: absolute;
                background-color: #fff;
                display: flex;
                flex-direction: column;
            }

        .feature__content__title {
            color: #000;
            margin: 0;
            font-size: 2.2rem;
            font-weight: 100;
            text-align:center;
            text-transform: uppercase;
        }
        .feature__content__text {
            max-width: 35rem;
            color: #342f2f;
            font-size: 0.9rem;
            text-align: center;
            font-weight: bolder;
            margin-left: -1rem;
            word-spacing: 0.25rem;
        } 
        @media (min-width:767px) and (max-width:1024px) {
            .feature__content {
                width: 100%;
                right: 5rem;
                bottom: -200px;
                padding: 3rem;
                max-width: 34.5rem;
                position: absolute;
                background-color: #fff;
                display: flex;
                flex-direction: column;
            }
            .sec-img{
                width: 60%;
                display: none;
            }
        }
    
    @media (min-width:350px) and (max-width:767px) {
        .feature__content {
            width: 90%;
            right: 4rem;
            bottom: -200px;
            padding: 3rem;
            max-width: 34.5rem;
            position: absolute;
            background-color: #fff;
            display: flex;
            flex-direction: column;
        }   
        .sec-img{
            width: 60%;
            display: none;
        }  
    }

    @media (min-width:50px)  and (max-width:350px) {
        .sec-img{
            width: 60%;
            display: none;
        }
        .section_image::after {
            content: "";
            top: 0rem;
            left: -6rem;
            width: 258%;
            height: 100%;
            position: absolute;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('./desktop/interactive.jpg');
        }
        .feature__content__text {
            max-width: 35rem;
            color: #342f2f;
            font-size: 0.9rem;
            text-align: center;
            font-weight: bolder;
            word-spacing: 0.25rem;
        }
        .feature__content {
            width: 90%;
            right: -1rem;
            bottom: -200px;
            padding: 2rem;
            max-width: 34.5rem;
            position: absolute;
            background-color: #fff;
            display: flex;
            flex-direction: column;
        }
    }

